@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    overscroll-behavior: none;
    --color-primary: rgb(52, 152, 219); /* button color */
    --color-primary-gradient: rgba(
      52,
      152,
      219,
      0.75
    ); /* nav selected gradient */
    --color-primary-text: rgba(255, 255, 255, 1);
    --color-nav: rgba(185, 184, 186, 0.976);
    --color-nav-hover: rgba(
      0,
      0,
      0,
      0.03
    ); /* color of hover an unselected nav */
    --color-nav-hover-text: rgba(
      0,
      0,
      0,
      0.87
    ); /* color of hover an unselected nav */
    --color-nav-selected: rgb(245, 245, 245); /* color of selected text*/
    --color-text: rgba(58, 53, 65, 0.87); /* color of text */
    --color-placeholder: rgba(58, 53, 65, 0.5); /* color of placeholder text */
    --color-background: rgb(248, 245, 255); /* general background color */
    --color-foreground: rgb(255, 255, 253); /* general feature block color */
    --color-border: rgba(177, 177, 177, 0.33); /* color of borders */
    --box-shadow: 0px 2px 10px 0px rgb(217, 213, 213); /* color of box shadow */
  }

  .purple {
    --color-primary: rgb(155, 89, 182);
    --color-primary-gradient: rgba(155, 89, 182, 0.75);
    --color-primary-text: rgba(255, 255, 255, 1);
  }

  .red {
    --color-primary: rgb(231, 76, 60);
    --color-primary-gradient: rgba(231, 76, 60, 0.75);
    --color-primary-text: rgba(255, 255, 255, 1);
  }

  .green {
    --color-primary: rgb(46, 204, 113);
    --color-primary-gradient: rgba(46, 204, 113, 0.75);
    --color-primary-text: rgba(255, 255, 255, 1);
  }

  .orange {
    --color-primary: rgb(230, 126, 34);
    --color-primary-gradient: rgba(230, 126, 34, 0.75);
    --color-primary-text: rgba(255, 255, 255, 1);
  }

  .turquoise {
    --color-primary: rgb(26, 188, 156);
    --color-primary-gradient: rgba(26, 188, 156, 0.75);
    --color-primary-text: rgba(255, 255, 255, 1);
  }

  .dark {
    --color-nav: rgb(211, 211, 211);
    --color-nav-hover: rgba(
      255,
      255,
      255,
      0.08
    ); /* color of hover an unselected nav */
    --color-nav-selected: rgb(245, 245, 245); /* color of selected text*/
    --color-text: rgb(231, 231, 231); /* color of text */
    --color-placeholder: rgba(
      231,
      231,
      231,
      0.5
    ); /* color of placeholder text */
    --color-background: rgb(27, 36, 48);
    --color-foreground: rgb(37, 45, 58);
    --box-shadow: 0px 2px 10px 0px rgba(27, 36, 48, 0.23);
    --color-border: rgba(177, 177, 177, 0.33);
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
